<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">CFOHONOUR::SINGAPORE SURVEY TOOL</title>
		<meta name="description" content="Cfohonour, A part of the CXOHONOUR network" />
		<meta name="keywords" content="We have the best awards for the industry" />
		<meta name="author" content="amol chawathe" />

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css">
	</head>

	<body >
		<div ng-app="surveyTool" ng-controller="surveyCtrl" ng-init="init()" >
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

		<!--Container-->
		<div class="pad-zero">

			<!--Splitlayout -->
			<div id="splitlayout" class="splitlayout reset-layout">

				<!--Intro-->
				<div class="intro">

					<!--Left Content Intro-->
					<div class="side side-left">

						<!--About Nav-->
						<div class="call-to-action about">
								<i class="fa fa-info fa-2x"></i>
								<i class="fa fa-times fa-2x opacity-hide"></i>
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/About Nav-->

						<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">

						<!--Logo-->
						<div class="logo align-center text-left"><img src="./img/cfohonour.png" alt="logo">
						</div>
						<!--/Logo-->

						<!--main content-->
						<div class="main">

							<!--Content with Typing Intro-->
							<!--<section id="home" class="section active">
								<div  class="preloader"></div>
								<div class="align-center text-left">
									<span class="small-hr animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200"></span>
									<p class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="300">Nominate the best companies in the financial World.</p>
									<div class="type-wrap text-left">
										<h1  class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="900"><span id="typed" ></span></h1>
									</div>

									<div class="notify-btn main-menu">
										<a  href="#contact" class="btn btn-default animated fadeInLeft" data-hover="Notify me" data-animation="fadeInLeft" data-animation-delay="1000" data-out-animation="fadeInLeft" data-out-animation-delay="600" data-toggle="modal" data-target="#notify-my"><span class="button-label text-left">Start Now</span><span class="arrow-wrap"><span class="arrow"></span></span></a>
									</div>
								</div>
							</section>-->
							<!--/Content with Typing Intro-->

							<!--Notify Form-->
							<section id="contact" class="section text-left active">
								<div  class=""></div>


								<!--CONTENT CHANGED & <br> ADDED-->
								<div class="notify-wrap">
									<h3 class="wellcome-text" data-animation="fadeInLeft" data-animation-delay="900" data-out-animation="fadeOutLeft" data-out-animation-delay="100" data-ng-bind="notify || 'hello..'">Hello..</h3>
									<h3 class="wellcome-text" data-animation="fadeInLeft" data-animation-delay="900" data-out-animation="fadeOutLeft" data-out-animation-delay="100" >{{userdata.firstname}} {{userdata.lastname}}</h3>
									<p>
									<p>
									<br>


										<!--<span  class="about arrow"  data-animation="fadeInUp" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300">START NOW</span>-->
										<span style="position:relative;left:0px;" class="about arrow-wrap arrow">Start Now</span>

								</div>
							</section>
							<!--/Notify Form-->

							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-behance"></i>
										</a>
									</li>
								</ul>
								<p>CXOHONOUR Pte. Ltd. © 2017</p>
							</div>
						</div>
						<!--/main content-->

						</div>
					</div>
					<!--/Left Content Intro-->

					<!--Right Content Intro-->
					<div class="side side-right">
						<div class="background-kenburn"></div>
						<!--Contect Nav-->
						<div class="call-to-action contact">
								<i class="fa fa-envelope fa-2x"></i>
								<i class="fa fa-times fa-2x opacity-hide"></i>
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/Contect Nav-->

						<div class="counter-content">
							<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
								<p class="tagline">We bring the best financial companies to network and meetup with leading CFO's in Asia</p>

								<!--Counter-->
								<div id="countdown">
								  <span class="days">00</span>
								</div>
								<span class="small-hr"></span>
								<span class="remain-days">More Days</span>
								<!--/Counter-->

							</div>
						</div>
					<div class="trans-overlay-dark"></div>
					</div>
					<!--/Right Content Intro-->
				</div>
				<!--/Intro-->

				<!--About Section-->
				<div class="page page-left">
					<div class="backgroundheader">
						</div>
					<div  class="page-inner full-height" style="background:#282828;" >

						<div class="container align-center detail-info">


							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>Take the survey</h3>
								</div>
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9" >

									<!--Client Slider Trial -->

									<!--Client Slider-->
									<br>
									<div id="surveycategory">
										<div class="surveycategory">
											<p class="tagline">{{userdata.firstname}} {{userdata.lastname}}</p>
											<p class="tagline">Please select the best financial companies in each segment.</p>
											<span class="small-hr"></span>
											<p class="align-center">This survey helps understand the best companies in the finanical sector for various segments. Nominate your company for each segment.</p>
											<br><br>
											<div class="item" ng-repeat="category in category" >
												<div style="width:100%;">
												<div style="width:60%;float:left">
													<span class="qual-tag">{{category.cat_name}}</span><br>
													<p><span class="qual-desc">
														
														
														{{category.cat_description}}
													

													
													</span><br></p><p>
														<br><br>
													<span class="opinionpoll" ng-click = "survey(category.catID)"> Opinion Poll </span>
													<br>
												</div>
													<div style="margin-left:30%">

													<span>Nominated Companies<h3>{{category.cat_nominated}}</h3></span>


													</div>


													<hr style="color:#9e6e0d" >
													<br>
												</div>
											</div>

										</div>
									</div>

									<!--/Client Slider-->


									<div id="surveyitem" class="surveyitem">
									  <form class="form-horizontal">
									  <input type="hidden" ng-model="userID">
									  <div class="square_1">
									    <p class="tagline">{{userdata.firstname}} {{userdata.lastname}}</p>
									    <p class="tagline">Please do recommend the right companies for each category.</p>
									    <span class="small-hr"></span>
									    <br><br>

									    <div class="item" ng-repeat="item in items" style="width:80%;height:200px;" >
									      <div style="width:60%;float:left">
									        <span class="qual-tag">{{item.item_name}}</span><br>
												<!--
												<div class="answer" ng-repeat="ans in submittedAnswer">
											
											
												</div>
												-->
									        <br>
									        <tags-input ng-model="itemoption[item.item_ID]" width="300" height="100">
									              <auto-complete   source="pinkid(item.item_ID)" min-length="1" loadOnDownArrow="true"></auto-complete>
									        </tags-input>
									      </div>
									    </div>
									    <div class="cat-submit" style="padding-top:10px">
									      <span class="opinionpoll catans" style="" ng-click="answer()">Submit</span>
									    </div>

									  </div>

									  </form>
									</div>

									<div id="thankyou">
										<div class="thankyou">
											<div class="item" >
												<span><h3>Thank you for the survey.</h3></span>

												<h4>Loading Dashboard</h4>
												<br>

												<br><br><br>
											</div>

										</div>
									</div>


								</div>

							</div>
								<!--<div class="trans-overlay-dark-about"></div>-->
						</div>

					</div>
				</div>
				<!--/About Section-->

				<!--Contact Section-->
				<div class="page page-right">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Hello..'">Hello..</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
									<p> 9 Temasek Boulevard, Suntec Tower 2<br/>#09-01 Singapore 038989</p>
									<!--<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>-->
									<!--<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:954788315970" target="_blank">+95 (478) 831-5970</a>
									</div>-->
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-fax"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:954788315970" target="_blank">+65 6407 1301</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="mailto:hello@hencework.com" target="_blank">support@cxohonour.com</a>
									</div>
									<div class="col-lg-12  pad-left-zero map">
									<a class="" href="https://www.google.com/maps/d/viewer?mid=z_gdBE8F4CM4.kd855LF8lFPo&hl=en_US" target="_blank">
										<span class="">get direction</span><span class="go-arrow"></span>
									</a>
									</div>
								</div>

								</div>

							</div>

							</div>
						</div>

						<div class="trans-overlay-dark-contact"></div>
            		</div>
				</div>
				<!--/Contact Section-->

			</div>
			<!-- /Splitlayout -->

		</div>
		<!-- /Container -->

		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src=""//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-resource.js""></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/init.js"></script>
		<script src="js/surveyCtrl.js"></script>
		<script src="js/angular-storage.min.js"></script>
	  <script src="js/ng-tags-input.min.js"></script>


	</div>
	</body>
</html>

<!-- Localized -->
